* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: url('bg2.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  color: white;
  position: relative;
}
.floating-text {
  animation: float 3s ease-in-out infinite;
}

/* Floating Keyframes */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}


.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.4);
}


.centered-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.centered-content p {
  font-size: 1.2rem;
  max-width: 600px;
  margin-bottom: 30px;
  color: #f1f1f1;
}

.btn {
  padding: 12px 25px;
  background-color: hsl(210, 93%, 30%);
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color:hsl(210, 93%, 30%);
}
